@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-black: #131311;
  --color-light-cream: #d1d1c7;
  --color-dark-cream: #a29e9a;
  --color-dark-orange: #7e766c;
}
@layer base {
  body {
    font-family: "Montreal", sans-serif;
    background-color: var(--color-light-cream);
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/noise.png");
    z-index: -1;
  }
}

@layer utilities {
  .title {
    @apply text-5xl font-bold sm:text-9xl;
  }
  .title2 {
    @apply text-3xl font-bold sm:text-5xl;
  }
  .description {
    @apply text-xl sm:text-2xl;
  }
  .light-cream {
    color: var(--color-light-cream);
  }
  .dark-cream {
    color: var(--color-dark-cream);
  }
  .dark-orange {
    color: var(--color-dark-orange);
  }
  .point {
    @apply border-b-2 border-[var(--color-dark-cream)];
  }
  .point:last-of-type {
    @apply border-none;
  }
}
